#img2{
	width: 60px;
	height: 50px;
}
#text1{
	color: white;
	font-weight: bolder;

}

#nav{
	
	height: 70px;
	background-color: darkblue;
	padding: 10px;  

}
li:hover{
  background-color:yellow;
  font-weight: bold;
}
#button2{
  padding: 0px;
  width: 100px;
  height: 40px;
  box-shadow: none;
  cursor: pointer;
 border-radius: 10px;
 border: 2px solid black;

}
#button2:hover{
  background-color: yellow;
}
#border{
	height: 50px;
	background-color: darkblue;
	color: white;
	font-weight: bold;
	padding: 10px;
}
#img1{
	width: 260px;
	height: 300px;
}
#link1{
	font-size: 15px;
}
#connect{
  color: darkblue;
  letter-spacing: 2px;
  font-size: 30px;
}
#contact
{
	height: 400px;
	background-color: lightgray;
	color: darkblue;
	padding: 30px;
}
#footer{
  background-color: lightblue;
  padding: 20px;
}
#list1{
  list-style-type: none;
}
.active, li:hover {
  background-color: yellow;
  color: white;
}