#bgsignup{
	background:linear-gradient(to left bottom ,darkblue,grey);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 130px;

}
#blank2{
	height: 50px
}

#loginside
{
	background:linear-gradient(to right top ,darkblue,grey);
	height: 500px;
	border-radius: 20px;
	padding: 50px;
	color: white;
}
#text1{
	font-weight: bold;
	font-family: fantasy;
	font-size: 30px;
}
input{
	border-radius: 7px;
	background-color: lightgray;
}
#bt1{
	background-color: darkblue;
	height: 50px;
	width: 100px;
	padding: 10px;
	border-radius: 30%;
	cursor: pointer;
	border: 2px solid grey;
	color: white;
}

#a1{
	color: white;
	text-decoration: none;
}
#img2{
	width: 60px;
	height: 50px;
}
#text1{
	color: white;
	font-weight: bolder;
	font-size: 20px;

}

#nav{
	
	height: 70px;
	background-color: darkblue;
	padding: 10px;  

}
li:hover{
  background-color:yellow;
  font-weight: bold;
}
#button2{
  padding: 0px;
  width: 100px;
  height: 40px;
  box-shadow: none;
  cursor: pointer;
 border-radius: 10px;
 border: 2px solid black;

}